{% extends "index.html" %}
{% load static %}
{% load utils %}

<!DOCTYPE html>
<html>
	{% block css_content %}
		<link rel="stylesheet" type="text/css" href="{% static 'PostJs/css/publish.css' %}">
	{% endblock %}
<body>
		<h3>Home Page</h3>
</body>

		<!-- {#% for post in post|get_comment_post %}
    			{{ forloop.counter }}) Post Title:{{ post.title|capfirst }}<br>
    			Author:{{ post.auther }}<br>
    			Description:{{ post.description }}<br>
    			Comments:{{ post.comment }}<br>
		{#% endfor %} -->


		<!-- {{ post }} -->
		{% block content %}
		{% for post in posts %}
			<li class="list-cls col-md-4" style="background-color:white; width: 50%;" data-post="{{ post.id }}">{{ forloop.counter }}) Post Title:{{ post.title|capfirst }}<br>
			Description:{{ post.description|capfirst }}<br>
			Author:{{ post.author|capfirst }}<br>
			<span class="like-cls">
			{% if post.is_liked == False %}
				<i class="fa fa-heart-o none-cls commen-cls" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-heart-o heart-cls commen-cls" aria-hidden="true"></i>
			{% endif %}
			</span>
			{{ post.like_count }}<br>
			Comments:	{% for comment in post.comments %}
							{{ comment.text_field }}<br>
						{% endfor %}
			<div class="view-cls">
				<a href={% url 'view_post' id=post.id %}>View</a>
				<a href={% url 'comment_post' id=post.id %}>Comment</a>
			</div>

		{% endfor %}


		{% if posts.has_other_pages %}
			<ul class="pagination">
			{% if posts.has_previous %}
			  <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&laquo;</span></li>
			{% endif %}
			{% for i in posts.paginator.page_range %}
			  {% if posts.number == i %}
			    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			  {% else %}
			    <li><a href="?page={{ i }}">{{ i }}</a></li>
			  {% endif %}
			{% endfor %}
			{% if posts.has_next %}
			  <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&raquo;</span></li>
			{% endif %}
			</ul>
		{% endif %}
		{% endblock %}





</html>

{% block js_content %}
	<script type="text/javascript" src="{% static 'PostJs/js/like.js' %}" ></script>
{% endblock %}


<!-- <style type="text/css">
	.color{
		background-color: #e4cdcd;
	}
	.card-action{
		color: coral;
	}
	.user-css{
		color: chocolate;
	}
	.delete-card{
		font-size: 14px;
	}
	.heart-cls{
		color: red;
	}
	.none-cls{
		color: blue;
	}

</style> -->




