{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
<!-- if we write any code for design,show data and etc it doesn't work.if we want then write code inside block content  -->
<h3>Publish Post</h3>

	<!-- <input type="text" class="form-control" placeholder="Search Blog.."> -->

	{% block css_content %}
		<link type="text/css" rel="stylesheet" href="path_to/simplePagination.css"/>
  	{% endblock %}

	{% block content %}
		<div class="input-group">
	        <input type="search" class="form-control" placeholder="Search Blog">
	        <ul id="search-results">

    		</ul>
	        <span class="input-group-btn">
	          <button class="btn btn-default" type="button">
	            <span class="glyphicon glyphicon-search"></span>
	          </button>
	        </span>	
      	</div>
		<!-- <h3>Publish Post</h3> -->
		<div id="post-id">
		{% for post in posts %}
			<li class="list-cls col-md-4" style="background-color:white; width: 50%;" data-post="{{ post.id }}">{{ forloop.counter }}) Post Title:{{ post.title|capfirst }}<br>
			Description:{{ post.description }}<br>
			like count:{{ post.user_like }}<br>
				<div class="card-action">
				<div class="form-group">
					{% for commen in post.post.all %}
						<div class="text-cls">
					 		<strong class="user-css">{{ commen.user }}</strong>
					 		:<strong>{{ commen.text_field }}</strong>
			 				{% if request.user == commen.user %} 
					 			<h6 class="delete-cls" data-id="{{ commen.id }}">
					 				<a href="" class="delete-card">delete</a>
					 				</h6>
					 		{% elif request.user == commen.post.auther %}
					 			<h6 class="delete-cls" data-id="{{ commen.id }}">
					 				<a href="" class="delete-card">delete</a>
					 				</h6>
					 		{% endif %}	
				 		</div>
							{% empty %}
							<p>There is no comments</p>
					{% endfor %}
				</div>
				</div>

				<div class="post-cls">
				<a href={% url 'view_post' id=post.id %}>View</a>
				<a href={% url 'edit_post' id=post.id %}>Edit</a>
				<a href={% url 'delete_post' id=post.id %}>Delete</a>
				<a href={% url 'comment_post' id=post.id %}>Comment</a>
				</div>

			</li>

		{% endfor %}
		</div>
		<br><br>

		{% if posts.has_other_pages %}
			<ul class="pagination">
			{% if posts.has_previous %}
			  <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&laquo;</span></li>
			{% endif %}
			{% for i in posts.paginator.page_range %}
			  {% if posts.number == i %}
			    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			  {% else %}
			    <li><a href="?page={{ i }}">{{ i }}</a></li>
			  {% endif %}
			{% endfor %}
			{% if posts.has_next %}
			  <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&raquo;</span></li>
			{% endif %}
			</ul>
		{% endif %}


	{% endblock %}

	
	
</html>

{% block js_content %}
	<script type="text/javascript" src="path_to/jquery.js"></script>
	<script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>
	<script type="text/javascript" src="{% static 'PostJs/js/comment.js' %}" ></script>
	<script type="text/javascript" src="{% static 'PostJs/js/search.js' %}"></script>
{% endblock %}





