{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>show post</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<button type="button" class="btn btn-secondary new_post" data-toggle="modal" data-target="#exampleModal">Add New Post</button>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
		    <div class="modal-body info-data" >
		    	<form class="form-cls" action="POST">
			       Title: <input type="text" class="t-cls" name="title" value=" "><br>
			       Description: <input type="text" class="d-cls" name="description" value=""><br>
			       <!-- Today Date: <input type="text" class="td-cls" name="today_date" value=""><br> -->
		    	</form>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-secondary add_post">Save</button>
		    </div>
		    </div>
	  	</div>
	</div>


	<h2>All Post</h2>
		<!-- {{ all_post }} -->
		{% for post in all_post %}
		<li>	{%  if post.publish == False %}
					{{post}} : unpublish
					<a href={% url 'change_post' id=post.id %}>Publish</a>
				{% else %}
					{{post}} :publish
					<a href={% url 'change_post' id=post.id %}>Unpublish</a>
				{% endif %} 
		</li>
		{% endfor %}

</body>

</html>

<script src="{% static 'PostJs/js/post1.js' %}" type="text/javascript"></script> 






<!-- 1)code optimize
2)dateformate
3)script js
5)through form 
4)link 
%)update-->
