

<style type="text/css">
	
	.color{
    background-color: #e4cdcd;
    }
    .card-action{
      color: coral;
    }
    .user-css{
      color: chocolate;
    }
    .delete-card{
      font-size: 14px;
    }
    .heart-cls{
      color: red;
    }
    .none-cls{
      color: blue;
    }

</style>



